<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
		<configuration>
			<typeAliases>
				<typeAlias type="com.iu.spring.bankbook.BankBookDTO" alias="BankBookDTO"/>
				<typeAlias type="com.iu.spring.bankmembers.BankMembersDTO" alias="BankMembersDTO"/>			
				<typeAlias type="java.lang.String" alias="String"/>
				<typeAlias type="com.iu.spring.bankaccount.BankAccountDTO" alias="BankAccountDTO"/>
		 	 	<typeAlias type="com.iu.spring.board.notice.NoticeDTO" alias="NoticeDTO"/> 
		 		<typeAlias type="com.iu.spring.board.qna.QnaDTO" alias="QnaDTO"/>
		 		<typeAlias type="com.iu.spring.board.impl.BoardDTO" alias="BoardDTO"/>
				<typeAlias type="java.util.List" alias="List"/>
				<typeAlias type="java.lang.Long" alias="Long"/>
			</typeAliases>
		</configuration>