<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dom_1 Page</h1>
    <h3 id="d2">
        D2
        <div>
            Hello!!
        </div>
    </h3>

    <h3 id="d3">
        <img src="/resources/images/11.jpg">
    </h3>

    <div id="d1"></div>
    <div id="d4"></div>
    
    <script src="/resources/JS/dom_1.js"></script>
</body>
</html>