<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="d1">
        <h1>dom_6 Page</h1>
        <ul id="list">
            <li>IU</li>
            <li>SUZY</li>

        </ul>

        <ol id="list2">
            <li>FIRST</li>
            <li>SECOND</li>
        </ol>
    </div>

    <div id="d2">
        <h1>append test</h1>
    </div>

    <div id="d3">
        <h1>Before&After Test</h1>
    </div>

    <button id="btn">image</button>
    <button id="add">add</button>    
    <button id="add2">add2</button>
    <button id="add3">add3</button>
    <button id="add4">add4</button>
    <button id="add5">add5</button>    
    <script src="/resources/JS/dom_6.js"></script>
</body>
</html>