<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="d1" value="test">
    <input type="radio" id="d2">
    <div id="d3"></div>
    <div>
        <select id="year">
            <option value=""></option>
        </select>
        <select id="month"></select>
        <select id="date"></select>
    </div>
<div>

    <table id="d4" border="1">
        <tr>
            <td></td>
        </tr>
    </table>
</div>
<h1>dd</h1>


    <script src="/resources/JS/dom_2.js"></script>
</body>
</html>