<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form>
            <input type="text" name="" id="d1">
            <input type="text" name="" id="d2">
            <input type="text" name="" id="d3">
            <input type="text" name="" id="d4">
        </form>
    </div>

    <script src="/resources/JS/dom_5.js"></script>
</body>
</html>