<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="d1">
        <h1>First Element</h1>
    </div>

    <div id="d2">
        <h1 id="d2_1" class="d2all">1 Element</h1>
        <h1 id="d2_2" class="d2all">2 Element</h1>
        <h1 id="d2_3" class="d2all">3 Element</h1>
        <h1 id="d2_4" class="d2all">4 Element</h1>
    </div>

    <button id="remove1">remove1</button>
    <button id="remove2">remove2</button>
    <button id="remove3">remove3</button>
    <script src="/resources/JS/dom_7.js"></script>
</body>
</html>