<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dom_3_ex1 Page</h1>
    <input type="text" id="d1">
    <input type="text" id="d2">
    <input type="text" id="d3" value="">
    <button type="button" id="btn">Click</button>
    <hr>
    <button id="btn2">Click2</button>
    <button id="btn3">Click3</button>
    <script src="/resources/JS/dom_3_ex1.js"></script>
</body>
</html>