<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.bankmembers.BankMembersDAO">
		 	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
			SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} AND PASSWORD=#{password}
			</select>	
			
			<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
			SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC
			</select>
		
			<insert id="setJoin" parameterType="BankMembersDTO">
				INSERT INTO BANKMEMBERS VALUES (#{userName}, #{password}, #{name}, #{email}, #{phone})
			</insert>
			
			<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getListByUserNameResult">
				SELECT M.USERNAME, M.NAME, M.EMAIL, M.PHONE, A.ACCOUNTNUM, A.ACCOUNTDATE, B.BOOKNAME
					FROM BANKMEMBERS M
						 INNER JOIN
						 BANKACCOUNT A
						 ON (M.USERNAME = A.USERNAME)
							 INNER JOIN  
							 BANKBOOK B
							 ON (A.BOOKNUM = B.BOOKNUM)
					WHERE M.USERNAME=#{userName}
			</select>
			
		<resultMap type="BankMembersDTO" id="getListByUserNameResult">
		<id column="USERNAME" property="userName"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
					
			<collection property="bankAccountDTO" ofType="BankAccountDTO">
				<id column="ACCOUNTNUM" property="accountNum"/>
				<result column="ACCOUNTDATE" property="accountDate"/>
			</collection>
			
			<collection property="bankBookDTO" ofType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</collection>
		</resultMap>
	 </mapper>