<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.bankmembers.BankMembersDAO">
		 	
		 	<insert id="setAddFile" parameterType="BankMembersFileDTO">
		 		INSERT INTO MEMBERFILE (FILENUM, FILENAME, ORINAME, USERNAME) 
		 		VALUES (FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{userName})
		 	</insert>
		 
		 
		 	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
			SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} AND PASSWORD=#{password}
			</select>	
			
			<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
			SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC
			</select>
		
			<insert id="setJoin" parameterType="BankMembersDTO">
				INSERT INTO BANKMEMBERS VALUES (#{userName}, #{password}, #{name}, #{email}, #{phone})
			</insert>
			
			<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
				  SELECT M.USERNAME, NAME, EMAIL, PHONE, FILENUM, FILENAME, ACCOUNTNUM, BOOKNAME, ACCOUNTDATE
				    FROM BANKMEMBERS M
				    
				    LEFT JOIN
				    MEMBERFILE F
				    ON M.USERNAME = F.USERNAME
				    
				    LEFT JOIN
				    BANKACCOUNT A
				    ON M.USERNAME=A.USERNAME 
				     
				    LEFT JOIN
				    BANKBOOK B
				    ON A.BOOKNUM = B.BOOKNUM
				    
				  WHERE M.USERNAME =#{userName}
				    ORDER BY A.ACCOUNTNUM DESC
			</select>
			
		<resultMap type="BankMembersDTO" id="getMyPageResult">
				<id column="USERNAME" property="userName"/>
				<result column="NAME" property="name"/>
				<result column="EMAIL" property="email"/>
				<result column="PHONE" property="phone"/>
			
			<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
			</association>
					
			<collection property="bankAccountDTO" javaType="List" ofType="bankAccountDTO">
				<id column="ACCOUNTNUM" property="accountNum"/>
				<result column="ACCOUNTDATE" property="accountDate"/>
				
			<association property="bankBookDTO" javaType="BankBookDTO">
					<result column="BOOKNAME" property="bookName"/>
				</association>
			</collection>
			</resultMap>

	 </mapper>
	 