<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.board.notice.NoticeDAO">
		 	<sql id="search">
		 		WHERE
			    	<choose>
			    		<when test="kind=='title'">TITLE</when>
			    		<when test="kind=='writer'">WRITER</when>
			    		<otherwise>CONTENTS</otherwise>
			   		</choose>
			   	LIKE '%'||#{search}||'%'
		 	</sql>
		 		 
		 	<insert id="setAddFiles" parameterType="BoardFileDTO">
		 		INSERT INTO NOTICEFILE (FILENUM, FILENAME, ORINAME, NUM) 
		 		VALUES (FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, (SELECT MAX(NUM) FROM NOTICE))
		 	</insert>
		 
		 	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		 		SELECT * FROM
			    (SELECT ROWNUM R, N.* FROM
			    (SELECT * FROM NOTICE
			    	<include refid="search"></include>
			     ORDER BY NUM DESC) N)
			    WHERE R BETWEEN #{startRow} AND #{lastRow}
		 	</select>
		 	
		 	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
				 		SELECT N.NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, FILENUM, FILENAME 
				 		FROM NOTICE N
						LEFT JOIN
						NOTICEFILE NF
						ON N.NUM = NF.NUM
						WHERE N.NUM = #{num}
						ORDER BY N.NUM DESC
		 	</select>
		 	
		 	<insert id="setAdd" parameterType="BoardDTO">
		 		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		 		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0)
		 	</insert>
		 	
		 	<update id="setUpdate" parameterType="BoardDTO">
		 		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM = #{num}
    	 	</update>
    	 	
    	 	<delete id="setDelete" parameterType="BoardDTO">
    	 		DELETE NOTICE WHERE NUM = #{num}
    	 	</delete>
    	 	
    	 	<update id="updateHit" parameterType="BoardDTO">
    	 		UPDATE NOTICE SET HIT=HIT+1 WHERE NUM=#{num}
    	 	</update>
    	 	
    	 	<select id="getPageCount" resultType="Long" parameterType="Pager">
    	 		SELECT COUNT(NUM) FROM NOTICE
    	 		<include refid="search"></include>
    	 	</select>
		 	
		 	<resultMap type="NoticeDTO" id="getDetailResult">
			 		<id column="NUM" property="num"/>
			 		<result column="TITLE" property="title"/>
			 		<result column="CONTENTS" property="contents"/>
			 		<result column="WRITER" property="writer"/>
			 		<result column="REGDATE" property="regDate"/>
			 		<result column="HIT" property="hit"/>
		 		<collection property="boardFileDTO" javaType="List" ofType="boardFileDTO">
		 			<id column="FILENUM" property="fileNum"/>
		 			<result column="FILENAME" property="fileName"/>
		 		</collection>
		 	</resultMap>
	 </mapper>