<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.board.notice.NoticeDAO">
		 	<select id="getList" resultType="NoticeDTO" parameterType="java.util.Map">
		 		SELECT * FROM
			    (SELECT ROWNUM R, N.* FROM
			    (SELECT * FROM NOTICE ORDER BY NUM DESC) N)
			    WHERE R BETWEEN #{startRow} AND #{lastRow}
		 	</select>
		 	
		 	<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
		 		SELECT * FROM NOTICE WHERE NUM=#{num}
		 	</select>
		 	
		 	<insert id="setAdd" parameterType="BoardDTO">
		 		INSERT INTO NOTICE 
		 		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0)
		 	</insert>
		 	
		 	<update id="setUpdate" parameterType="BoardDTO">
		 		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM = #{num}
    	 	</update>
    	 	
    	 	<delete id="setDelete" parameterType="BoardDTO">
    	 		DELETE NOTICE WHERE NUM = #{num}
    	 	</delete>
    	 	
    	 	<update id="updateHit" parameterType="BoardDTO">
    	 		UPDATE NOTICE SET HIT=HIT+1 WHERE NUM=#{num}
    	 	</update>
    	 	
    	 	<select id="getPageCount" resultType="Long">
    	 		SELECT COUNT(NUM) FROM NOTICE
    	 	</select>
		 	
		 
		 </mapper>