<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.notice.NoticeListDAO">
		 	<select id="getList" resultType="NoticeDTO">
		 		SELECT * FROM NOTICE ORDER BY NUM DESC
		 	</select>
		 	
		 	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
		 		SELECT * FROM NOTICE WHERE NUM = #{num}
		 	</select>
		 	
		 	<insert id="addNotice">
		 		INSERT INTO NOTICE VALUES (BOARD_SEQ.NEXTVAL, #{title},#{contents},#{writer},SYSDATE,0)
		 	</insert>
		 	
		 	
		 	<update id="updateHit" parameterType="NoticeDTO">
		 		UPDATE NOTICE SET HIT=HIT+1 WHERE NUM = #{num}
		 	</update>
		 	
		 	<update id="updateNotice" parameterType="NoticeDTO">
		 		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer} WHERE NUM = #{num}
		 	</update>
		 	
		 	<delete id="deleteNotice" parameterType="NoticeDTO">
				DELETE NOTICE WHERE NUM = #{num}
			</delete>
		 
		 </mapper>