<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		 <mapper namespace="com.iu.spring.qna.QnAListDAO">
		 	<select id="getList" resultType="QnADTO">
		 		SELECT * FROM QNA ORDER BY NUM DESC
		 	</select>
		 	
		 	<select id="getDetail" parameterType="QnADTO" resultType="QnADTO">
		 		SELECT * FROM QNA WHERE NUM = #{num}
		 	</select>
		 	
		 	<insert id="setQnA">
		 		INSERT INTO QNA VALUES (BOARD_SEQ.NEXTVAL, #{title},#{contents},#{writer},SYSDATE, 0, 0, 0, 0)
		 	</insert>
		 	
		 	
		 	<update id="updateHit" parameterType="QnADTO">
		 		UPDATE QNA SET HIT=HIT+1 WHERE NUM = #{num}
		 	</update>
		 	
		 	<update id="updateQnA" parameterType="QnADTO">
		 		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer} WHERE NUM = #{num}
		 	</update>
		 	
		 	<delete id="deleteQnA" parameterType="QnADTO">
				DELETE QNA WHERE NUM = #{num}
			</delete>
		 
		 </mapper>